In [45]:
import pandas as pd

In [46]:
df = pd.read_csv("./movie_review.csv")

In [47]:
df.head()

,fold_id,cv_tag,html_id,sent_id,text,tag
0,0,cv000,29590,0,films adapted from comic books have had plenty...,pos
1,0,cv000,29590,1,"for starters , it was created by alan moore ( ...",pos
2,0,cv000,29590,2,to say moore and campbell thoroughly researche...,pos
3,0,cv000,29590,3,"the book ( or "" graphic novel , "" if you will ...",pos
4,0,cv000,29590,4,"in other words , don't dismiss this film becau...",pos

In [48]:
X = df["text"]
y = df["tag"]

In [49]:
from sklearn.feature_extraction.text import CountVectorizer

In [50]:
vect = CountVectorizer()
X = vect.fit_transform(X)

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [57]:
model = BernoulliNB()
model.fit(X_train, y_train)
p_train = model.predict(X_train)
p_test = model.predict(X_test)
acc_train = accuracy_score(y_train, p_train)
acc_test = accuracy_score(y_test, p_test)

In [58]:
print(f'Train acc. {acc_train}, test acc. {acc_test}')

Train acc. 0.8031726411207252, test acc. 0.6969097651421507