## F strings

In [ ]:
name = "Tim"

print(f'Hell', name)
print("Hello " + name)
print(f'Hello {name}')

:

In [6]:
print(f'Hello {name} {name * 2}')

Hello Tim TimTim

In [7]:
print(f'Hello {[1, 2, 3, 4, 5]}')

Hello [1, 2, 3, 4, 5]

In [9]:
x = f'"ciao amico che ti chiami {name}'

In [10]:
print(x)

"ciao amico che ti chiami Tim

## UNpacking

In [23]:
tup = (1, 2, 3, 4, 5)
lst = [1, 2, 3, 4, 5]
string = "hello"
dic = {"chiave1": 1, "chiave2": 2, "chiave3": 3}
coords = [4, 5]

In [15]:
a, b, c, d, e = tup

In [16]:
print(a, b, c, d, e)

1 2 3 4 5

In [24]:
uno, due, tre = dic
print(uno, due, tre)

chiave1 chiave2 chiave3

In [26]:

uno, due, tre = dic.items()
print(uno, due, tre)

('chiave1', 1) ('chiave2', 2) ('chiave3', 3)

In [27]:
uno, due, tre = dic.values()
print(uno, due, tre)

1 2 3

In [28]:
uno, due, tre = dic.keys()
print(uno, due, tre)

chiave1 chiave2 chiave3

## Multiple Assignment - Variable Swap

In [29]:
width, height = 300, 400
print(f'''
width: {width}
height: {height}
''')

width: 300
height: 400

In [30]:
width, height = height, width # SWAP delle variabili
print(f'''
width: {width}
height: {height}
''')

width: 400
height: 300

## Comprehensions

In [40]:
x = [i for i in range(20)]
len(x)

20

In [41]:
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [44]:
par = [i for i in range(20) if i % 2 == 0]
print(par)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [47]:
prod = [i * j for i in range(3) for j in range(2)]
prod

[0, 0, 0, 1, 0, 2]

In [48]:
dim = [[0 for _ in range(5)] for _ in range(5)]
dim

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [53]:
sentence = "hello my name is tim"

In [54]:
x = {char: sentence.count(char) for char in set(sentence)}

In [55]:
print(tuple(x))

('n', 'i', 'y', 's', 'l', ' ', 'h', 'm', 't', 'a', 'e', 'o')

## Object Multiplication

In [56]:
x = "hello" * 3
x = [1, 2, 3] * 3

## Inline / Ternary Condition

In [58]:
x = 1 if 2 > 3 else 0 # else fa parte della sintassi, senza ERRORE
x

0

 ## ZIP function

In [59]:
names = ["tim", "joe", "billy", "sally"]
ages = [21,19, 18, 43]
eye_color = ["blue", "brown", "brown", "green"]

In [60]:
print(list(zip(names, ages, eye_color)))

[('tim', 21, 'blue'), ('joe', 19, 'brown'), ('billy', 18, 'brown'), ('sally', 43, 'green')]

In [61]:
for name, age in zip(names, ages):
    if age > 20:
        print(name)

tim
sally

## *args, **kwargs

In [66]:
def func1(arg1, arg2, arg3):
    print(arg1, arg2, arg3)

In [67]:
argomenti = ["uno", "due", "tre"]

In [69]:
func1(*argomenti) # star splitta il contenuto lista nei 3 argomenti della funzione

uno due tre

In [72]:
print(argomenti) # la lista

['uno', 'due', 'tre']

In [73]:
print(*argomenti) # gli elementi splittati della lista

uno due tre

## For Else & While Else

In [77]:
search = [1, 2, 3, 4, 5, 6, 7]
target = 8

In [78]:
for element in search:
    if element == target:
        print("Trovato")
        break

In [79]:
for element in search:
    if element == target:
        print("Trovato")
        break
else:
    print("Elemento non trovato!")

Elemento non trovato!

## Sort By  Key

In [81]:
lst = [[1,2], [3, 4], [4,2], [-1, 3], [4, 5], [2,3]]

In [83]:
lst.sort() # in place
print(lst)

[[-1, 3], [1, 2], [2, 3], [3, 4], [4, 2], [4, 5]]

In [84]:
lst.sort(key=lambda x: x[1])
print(lst)

[[1, 2], [4, 2], [-1, 3], [2, 3], [3, 4], [4, 5]]

## BONUS - Itertools

In [88]:
import itertools

In [89]:
lst = [1, 2, 3, 4, 5]
sum_list = itertools.accumulate(lst)
print(list(sum_list))

[1, 3, 6, 10, 15]

In [90]:
lst2 = ["A", "B", "C", "D"]
chain_list = itertools.chain(lst, lst2)
print(list(chain_list))

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

> **chain** è un *iteratore*, non un oggetto struttura dati (lista, dizionario, etc).
>  
> **La memoria occupata è infinitesamente inferiore**. Nel caso in cui abbiamo moltissimi dati questa differenza si riperquote sulle performance del programma!