In [7]:
import pandas as pd

In [8]:
persone = {
    "nome": ["andrea", "mario", "anna", "giovanni", "federica"],
    "cognome": ["prestini", "mometto", "ferrari", "serventi", "mometto"],
    "valore": [100, 400, 40, 34, 234]
}

In [9]:
df = pd.DataFrame(persone)

In [10]:
df

       nome   cognome  valore
0    andrea  prestini     100
1     mario   mometto     400
2      anna   ferrari      40
3  giovanni  serventi      34
4  federica   mometto     234

In [11]:
print(df.columns)

Index(['nome', 'cognome', 'valore'], dtype='object')

In [12]:
print(df.index)

RangeIndex(start=0, stop=5, step=1)

In [13]:
print(df.dtypes)

nome       object
cognome    object
valore      int64
dtype: object

In [14]:
print(df.values)

[['andrea' 'prestini' 100]
 ['mario' 'mometto' 400]
 ['anna' 'ferrari' 40]
 ['giovanni' 'serventi' 34]
 ['federica' 'mometto' 234]]

In [15]:
print(df.head(2))

     nome   cognome  valore
0  andrea  prestini     100
1   mario   mometto     400

In [16]:
print(df.tail(3))

       nome   cognome  valore
2      anna   ferrari      40
3  giovanni  serventi      34
4  federica   mometto     234

In [17]:
print(df.describe())

           valore
count    5.000000
mean   161.600000
std    155.675303
min     34.000000
25%     40.000000
50%    100.000000
75%    234.000000
max    400.000000

In [18]:
filtro = df["nome"] == "anna"
print(df[filtro])

   nome  cognome  valore
2  anna  ferrari      40

In [21]:
print(df[df["cognome"] == "mometto"])

       nome  cognome  valore
1     mario  mometto     400
4  federica  mometto     234