# List Comprehension 
Lo **Zucchero Sintattico**

In [17]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist1 = []

In [18]:
for x in fruits:
    if "a" in x:
        newlist1.append(x)

print(newlist1)

['apple', 'banana', 'mango']

In [19]:
newlist2 = [x for x in fruits if "a" in x] # list comprehension
print(newlist2)

['apple', 'banana', 'mango']

Sintassi generale:

***newlist = [expression for item in iterable if condition]***

In [20]:
newlist3 = [x if x !="banana" else "orange" for x in fruits]
print(newlist3)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [21]:
listone = ["uno", "due", "tre", "quattro", "cinque", "sei", "sette", "otto", "nove", "dieci"]
lista1 = ["uno", "due", "tre"]
lista2 = ["otto", "nove", "dieci"]

In [22]:
lista_particolare = [x for x in listone if x not in lista1+lista2 ]
print(lista_particolare)

['quattro', 'cinque', 'sei', 'sette']

> Uso somma per ottenere una lista ***UNICA***

In [23]:
print(lista1 + lista2)

['uno', 'due', 'tre', 'otto', 'nove', 'dieci']

In [119]:
from prettytable import PrettyTable

In [120]:
x = PrettyTable()

In [121]:
x.field_names = ["Nome", "Cognome", "Paese"]
x.add_row(["Andrea", "Prestini", "Esine"])
x.add_row(["Eleonora", "Favagrossa", "Leno"])
x.add_row(["Roberto", "Tanzini", "Breno"])
x.add_row(["Aldo", "Tanzini", "Breno"])
x.add_row(["Federica", "Braccagnini", "Breno"])

In [122]:
print(x)

+----------+-------------+-------+
|   Nome   |   Cognome   | Paese |
+----------+-------------+-------+
|  Andrea  |   Prestini  | Esine |
| Eleonora |  Favagrossa |  Leno |
| Roberto  |   Tanzini   | Breno |
|   Aldo   |   Tanzini   | Breno |
| Federica | Braccagnini | Breno |
+----------+-------------+-------+

In [125]:
for i in range(10, -1, -1): # valore massimo non compreso ergo prende 0
    print(f'elemento: {i}')

elemento: 10
elemento: 9
elemento: 8
elemento: 7
elemento: 6
elemento: 5
elemento: 4
elemento: 3
elemento: 2
elemento: 1
elemento: 0

In [132]:
lunghezza = 10
i = lunghezza
while (i <= lunghezza and i >= 0):
    print(f'valore: {i}')
    i -= 1

valore: 10
valore: 9
valore: 8
valore: 7
valore: 6
valore: 5
valore: 4
valore: 3
valore: 2
valore: 1
valore: 0