In [3]:
import pandas as pd

In [4]:
elenco_dict = {
    "primo grado":  {
        "classe A": {"nome": "andrea", "cognome": "prestini"},
        "classe B": {"nome": "eleonora", "cognome": "favagrossa"}
    },
    "secondo grado": {
        "classe A": {"nome": "mario", "cognome": "mometto"},
        "classe B": {"nome": "roberto", "cognome": "tanzini"}
    }
}

In [5]:
elenco_df = pd.DataFrame.from_dict({(i, j): elenco_dict[i][j]
                                    for i in elenco_dict.keys()
                                    for j in elenco_dict[i].keys()},
                                   orient='index')
elenco_df

                            nome     cognome
primo grado   classe A    andrea    prestini
              classe B  eleonora  favagrossa
secondo grado classe A     mario     mometto
              classe B   roberto     tanzini