In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("giocatori.csv")

In [3]:
df.shape

(92487, 3)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92487 entries, 0 to 92486
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   genere     92487 non-null  int64
 1   anni       92487 non-null  int64
 2   videogame  92487 non-null  object
dtypes: int64(2), object(1)
memory usage: 2.1+ MB

In [5]:
gestionale = df.loc[df["videogame"] == "gestionale"]
print(gestionale)

       genere  anni   videogame
1           1    27  gestionale
4           0    17  gestionale
9           0    29  gestionale
10          1    40  gestionale
14          0    29  gestionale
...       ...   ...         ...
92471       0    12  gestionale
92477       0    42  gestionale
92484       1    23  gestionale
92485       0    28  gestionale
92486       1    36  gestionale

[18886 rows x 3 columns]

In [6]:
print("il gestinale è stato scelto da:", len(gestionale), "persone")

il gestinale è stato scelto da: 18886 persone

In [7]:
df.groupby(["genere"])["anni"].mean()

genere
0    27.674336
1    27.674329
Name: anni, dtype: float64

In [8]:
df["anni"].mean()

27.674332608907196

In [9]:
print("Numero casi per tipologia di videogioco:\n",df.groupby(["videogame"])["anni"].count())

Numero casi per tipologia di videogioco:
 videogame
combattimento    16590
fantasy          17109
gestionale       18886
platform         19643
sparatutto       20259
Name: anni, dtype: int64

In [10]:
df.groupby(["videogame"]).count()

               genere   anni
videogame
combattimento   16590  16590
fantasy         17109  17109
gestionale      18886  18886
platform        19643  19643
sparatutto      20259  20259

In [28]:
df.loc[[0, 5, 10]]

    genere  anni   videogame
0        1    27  sparatutto
5        0    19     fantasy
10       1    40  gestionale

In [30]:
df.loc[[0, 5, 10], "videogame"]

0     sparatutto
5        fantasy
10    gestionale
Name: videogame, dtype: object

In [34]:
df.loc[0:8,["anni", "videogame"]]

   anni      videogame
0    27     sparatutto
1    27     gestionale
2    27  combattimento
3    27        fantasy
4    17     gestionale
5    19        fantasy
6    30     sparatutto
7    32        fantasy
8    34       platform

In [50]:
df.loc[(df["anni"] < 13) & (df["videogame"] == "gestionale")]

       genere  anni   videogame
738         1    12  gestionale
745         0    12  gestionale
1619        1    12  gestionale
2727        1    12  gestionale
2968        1    12  gestionale
...       ...   ...         ...
91083       0    12  gestionale
91273       0    12  gestionale
91471       0    12  gestionale
92153       0    12  gestionale
92471       0    12  gestionale

[158 rows x 3 columns]

In [81]:
df.loc[df["anni"] < 13].groupby(["videogame"])["anni"].count()

videogame
combattimento    402
fantasy          163
gestionale       158
platform         421
sparatutto       270
Name: anni, dtype: int64