In [43]:
import pandas as pd

In [44]:
cibo = {
    "gatto": "crocchette",
    "cane": "ossi",
    "cavallo": "erba medica"
}


peso = {
    "squalo": 4,
    "cane": 10,
    "cavallo": 120,
    "gallina": 1
}

colore = {
    "cane": "nero",
    "gatto": "rosso",
    "cavallo": "marrone",
    "uomo": "bianco"
}

In [45]:
df = pd.DataFrame({"cibo": cibo, "peso":peso, "colore":colore})

In [46]:
print(df)

                cibo   peso   colore
gatto     crocchette    NaN    rosso
cane            ossi   10.0     nero
cavallo  erba medica  120.0  marrone
squalo           NaN    4.0      NaN
gallina          NaN    1.0      NaN
uomo             NaN    NaN   bianco

In [47]:
print(f'''
      il peso di cane é
      {df.loc["cane", "peso"]} kg''')

      il peso di cane é
      10.0 kg

In [48]:
df = pd.read_csv("./prodotti.csv", index_col=0)

In [49]:
type(df)

pandas.core.frame.DataFrame

In [50]:
df.head(3)

          indice1  indice2  indice3
prodotto
focaccia      114        3       10
pane           13       20       10
pasta           2       10       10

In [51]:
df.shape

(20, 3)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, focaccia to limoni
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   indice1  20 non-null     int64
 1   indice2  20 non-null     int64
 2   indice3  20 non-null     int64
dtypes: int64(3)
memory usage: 640.0+ bytes

In [53]:
df.head(3).values

array([[114,   3,  10],
       [ 13,  20,  10],
       [  2,  10,  10]])

In [54]:
df.columns

Index(['indice1', 'indice2', 'indice3'], dtype='object')

In [55]:
df.head(3).index

Index(['focaccia', 'pane', 'pasta'], dtype='object', name='prodotto')

In [56]:
df.head(2)

          indice1  indice2  indice3
prodotto
focaccia      114        3       10
pane           13       20       10

In [57]:
df.dtypes

indice1    int64
indice2    int64
indice3    int64
dtype: object

In [58]:
indice1 = df["indice1"]

In [59]:
indice1

prodotto
focaccia       114
pane            13
pasta            2
birra          115
latte            2
patate          13
sale           114
pepe           117
olio            13
coca cola        8
vino rosso      12
farina           2
mele           114
pere           114
banane          67
marmellata      44
riso bianco     78
riso nero       88
seppie         114
limoni           2
Name: indice1, dtype: int64

In [60]:
type(indice1)

pandas.core.series.Series

In [61]:
indiceDF =  df[["indice1"]]

In [62]:
print(indiceDF)

             indice1
prodotto
focaccia         114
pane              13
pasta              2
birra            115
latte              2
patate            13
sale             114
pepe             117
olio              13
coca cola          8
vino rosso        12
farina             2
mele             114
pere             114
banane            67
marmellata        44
riso bianco       78
riso nero         88
seppie           114
limoni             2

In [63]:
type(indiceDF)

pandas.core.frame.DataFrame

In [64]:
df.loc["birra"]

indice1    115
indice2     59
indice3     10
Name: birra, dtype: int64

In [65]:
df.loc["birra", "indice3"]

10

In [66]:
df.loc[["pane", "pepe"]]

          indice1  indice2  indice3
prodotto
pane           13       20       10
pepe          117        5       10

In [67]:
df.loc[["pane", "pepe"], "indice2"]

prodotto
pane    20
pepe     5
Name: indice2, dtype: int64

In [68]:
df.iloc[[0,1, -1]]

          indice1  indice2  indice3
prodotto
focaccia      114        3       10
pane           13       20       10
limoni          2      100       10

In [69]:
subset = df.loc[:, ["indice1", "indice3"]]

In [70]:
subset.head(3)

          indice1  indice3
prodotto
focaccia      114       10
pane           13       10
pasta           2       10

In [71]:
subset = df.iloc[:, [2]] # usare indici e non label, diversamente ERRORE! iloc usa INDICI!

In [72]:
subset.head(3)

          indice3
prodotto
focaccia       10
pane           10
pasta          10

In [73]:
df.loc[df["indice1"]<10]

           indice1  indice2  indice3
prodotto
pasta            2       10       10
latte            2       45       10
coca cola        8        3       10
farina           2       11       10
limoni           2      100       10

In [74]:
df.loc[df["indice1"]<10, "indice2":"indice3"]

           indice2  indice3
prodotto
pasta           10       10
latte           45       10
coca cola        3       10
farina          11       10
limoni         100       10

In [75]:
df.loc[df["indice1"]<10][["indice2", "indice3"]]

           indice2  indice3
prodotto
pasta           10       10
latte           45       10
coca cola        3       10
farina          11       10
limoni         100       10

In [76]:
df.loc[(df["indice1"]<10) & (df["indice2"] > 40)]

          indice1  indice2  indice3
prodotto
latte           2       45       10
limoni          2      100       10

In [77]:
df.loc[df["indice1"]<10]["indice3"]

prodotto
pasta        10
latte        10
coca cola    10
farina       10
limoni       10
Name: indice3, dtype: int64

In [78]:
df.loc[df["indice1"] == 114]

          indice1  indice2  indice3
prodotto
focaccia      114        3       10
sale          114       12       10
mele          114       56       10
pere          114       55       10
seppie        114       99       10

In [79]:
df.groupby(["indice1"])["indice2"].mean()

indice1
2      41.500000
8       3.000000
12      3.000000
13     20.333333
44      3.000000
67      3.000000
78      3.000000
88      3.000000
114    45.000000
115    59.000000
117     5.000000
Name: indice2, dtype: float64

In [80]:
import numpy as np
df.groupby(["indice1"])["indice2"].agg(np.std)

indice1
2      42.257149
8            NaN
12           NaN
13     13.503086
44           NaN
67           NaN
78           NaN
88           NaN
114    38.697545
115          NaN
117          NaN
Name: indice2, dtype: float64

In [81]:
risultato = df.groupby(["indice1"])[["indice2", "indice3"]].agg(np.mean)

In [82]:
print(risultato)

           indice2  indice3
indice1
2        41.500000     10.0
8         3.000000     10.0
12        3.000000     10.0
13       20.333333     10.0
44        3.000000     10.0
67        3.000000     10.0
78        3.000000     10.0
88        3.000000     10.0
114      45.000000     10.0
115      59.000000     10.0
117       5.000000     10.0

In [83]:
print("la classe 115 presente un indice 2 di :", risultato.loc[115]["indice2"])

la classe 115 presente un indice 2 di : 59.0

Altra sintassi per filtrare il dataframe, no quadre ma punto per membro di... Attenzione se il nome colonna è uguale ad un modulo presente nella libreria (es. shape)

In [84]:
df.loc[(df.indice1 > 114) & (df.indice3 == 10)]

          indice1  indice2  indice3
prodotto
birra         115       59       10
pepe          117        5       10