# Nomenclatura delle variabili.
- Camel Case
- Pascal Case
- snake_case

In [108]:
pesoPersona = 10
PesoPersona = 10
peso_persona = 10

In [109]:
x, y, z = 1, 2, 3
numeri = [1, 2, 3]
a, b, c = numeri

Tipi di variabili:
- str: "ciao"
- int: 42
- float: 3.141592653589793
- bool: True
- list : [1, 2, 3, 4]
- tuple : (1, 2, 3, 4)
- set : {1, 2, 3, 4}
- dict : {'a': 1, 'b': 2, 'c': 3}
- None : None
- range : range(10)

In [110]:
# Tipo di dato
print(type(numeri))

<class 'list'>

# Casting delle variabili
Modificare il tipo di dato di un valore!

In [111]:
x = "5"
y = 5
x = int(x)
print("risultato:", x+y)

risultato: 10

# Le Stringhe
- creare una stringa, parlare di apici doppi e singoli
- mandare a schermo stringa e variabile stringa
- strighe multi riga con triplo apice
- trattare stringhe come array (prendere carattere, lenght, loop)
- prendere parte di stringa str[:5], str[2:], str[2:5], str[2:5:-2]
- concatenare stringhe
- usare format() per combianre stringhe e numeri
- escape dei caratteri

stringa = "Ciao sono un 'semplice' amico della Valle"

In [112]:
stringa = "Ciao sono un 'amico' della Valle"
print(stringa)
print(stringa[0:7])
print(len(stringa))

Ciao sono un 'amico' della Valle
Ciao so
32

In [113]:
print(stringa[::-1])
print(stringa.upper())
print(stringa.capitalize())
print(stringa.title())

ellaV alled 'ocima' nu onos oaiC
CIAO SONO UN 'AMICO' DELLA VALLE
Ciao sono un 'amico' della valle
Ciao Sono Un 'Amico' Della Valle

In [114]:
stringa1 = "Ciao sono Andrea abito al numero {}"
print(stringa1.format(y))

Ciao sono Andrea abito al numero 5

In [115]:
stringa2 = "Ciao sono {0} e vivo a {1} provengo da {2}"
print(stringa2.format("Brescia", "Esine", "padania"))
print(stringa2.format("Esine", "padania", "Brescia"))

Ciao sono Brescia e vivo a Esine provengo da padania
Ciao sono Esine e vivo a padania provengo da Brescia

## Utilizziamo i Booleans

In [116]:
print(11>14) # ritorna False

False

In [117]:
if 5 < 10:
    print("sono minore di 10")
else:
    print("sono maggiore di 10")

sono minore di 10

In [118]:
x = 0
print(x > 0)

False

In [119]:
lista1 = ["andrea", "mario", "franco"]
print("Franco è nella lista:", "franco" in lista1)
print("Luigi è nella lista:", "luigi" in lista1)

Franco è nella lista: True
Luigi è nella lista: False

## Operatori matematici:
- operazioni aritmetiche
- operatori matematici
- operatori di assegnamento
- precedenza operatori
- metodi min, max, abs, pow

In [120]:
x = 9
y = 5
print(" x elevato a y=", x ** y)
print("intero di x diviso y=", x // y)
print("x diviso y=", x / y)
print("resto di x diviso y=", x % y)

 x elevato a y= 59049
intero di x diviso y= 1
x diviso y= 1.8
resto di x diviso y= 4

In [121]:
x += 2
print(x)
x -= 2
print(x)

11
9

In [122]:
x = min(5, 12, 1)
print("min valori in x", x)
x = -5
print("abs di x con segno", abs(x))
x = pow(2, 3)
print("pow dei 2 parametri passati", x)

min valori in x 1
abs di x con segno 5
pow dei 2 parametri passati 8

## ciclo IF

In [123]:
if 5 > 2:
    print("5 is greater than 2")

if 5 < 2:
    print("5 is less than 2") # non viene eseguito

5 is greater than 2

### Operatori di comparazione
- ==
- >
- <
- >=
- <=
- in
- not in
- is
- is not
- !=

In [124]:
x = 11

if x < 10:
    print("x is less than 10")
elif x == 10:
    print("x is equal to 10")
else:
    print("x is greater than 10")

x is greater than 10

In [125]:
if 10 < x < 16:
    print("condizione verificata " + "14 < x < 16")

condizione verificata 14 < x < 16

## AND or OR:
a and b  --> entrambe verificate

a or b --> almeno una verificata

### Shorthand per il costrutto IF

In [126]:
x = 10

if x > 10: print("x is greater than 10")

In [127]:
print("x is greater than 10") if x > 10 else print("x is not greater than 10")

x is not greater than 10

In [128]:
x = 8
y = 5

if x % 2 == 0:
    print(x, "Numero pari")
    if (x < 10):
        print(x, "Numero pari e minore di 10")
else:
    print(x, "numero dispari, non mi interessa se è minore di 10")

    
if y % 2 == 0:
    print(y, "Numero pari")
    if (y < 10):
        print(y, "Numero pari e minore di 10")
else:
    print(y, "numero dispari, non mi interessa se è minore di 10")

8 Numero pari
8 Numero pari e minore di 10
5 numero dispari, non mi interessa se è minore di 10

In [129]:
elenco = [12, 15, 18, 21, 25, 48, 56]

def divisore_2(x):
    if x % 2:
        return x, False, "dispari"
    else:
        return x, True, "pari"

for x in elenco:
    print(divisore_2(x))

(12, True, 'pari')
(15, False, 'dispari')
(18, True, 'pari')
(21, False, 'dispari')
(25, False, 'dispari')
(48, True, 'pari')
(56, True, 'pari')

## Ciclo While
- cosa sono i loop/cicli
- sintassi di while
- break, continue, else

In [130]:
x = ["milano", "roma", "napoli"]
i = 0

while i < len(x):
    print(x[i])
    i += 1

milano
roma
napoli

# Ciclo FOR
- sintassi del for
- esempio stringa, lista, range
- break, continue, else

In [131]:
lista_numeri = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in lista_numeri:
        if i == 5:
                print("salto il numero", i)
                continue
        if i == 9:
                break
        print(i)

1
2
3
4
salto il numero 5
6
7
8

# Introduzione teorica alle collezioni di dati
- list, tuple, dizionari
- spiegazione di collezione
- termini
  - ordinato : quando ha un ordine ben definito ed i nuovi elementi non modifcano l'ordine precedente
  - indicizzato: possiamo accedere agli elementi tramite indice (index)
  - modificabile: possiamo aggiungere, cambiare e rimuovere elementi una volta creata la collezione
  - immutabile: non possiamo aggiungere, cambiare e rimuovere elementi
  - permette duplicati: possono esserci più elementi con lo stesso valore

- Le **liste** sono collezioni ordinate e modificabili. Permettono duplicati
- Le **tuple** sono collezioni ordinate ma immutabili. Permettono duplicati
- I **set** sono collezioni non ordinate e perciò non indicizzate. Non permettono duplicati
- I **dizionari** sono collezioni ordinate e modificabili. Non permettono duplicati

In [132]:
x = ["milano", "roma", "napoli", "venezia"] # indici da 0 a 3
print(x[:1])
print(x[1:3])
print(x[::-1])
print(x[1:4:2])
print(x[:])

['milano']
['roma', 'napoli']
['venezia', 'napoli', 'roma', 'milano']
['roma', 'venezia']
['milano', 'roma', 'napoli', 'venezia']

In [133]:
# ATTENZIONE!
y = [1, 2, 3, 4, 5]
y[0:3] = ["bicher"]
print(y)

['bicher', 4, 5]

In [134]:
x.insert(2, "bicher") # inserimento con posizione, diverso da append
k = ["gambara", "esine", "leno"]
x.extend(k)
print(x)

['milano', 'roma', 'bicher', 'napoli', 'venezia', 'gambara', 'esine', 'leno']

```python
x.remove("leno")
x.pop() # versione con indice x.pop(2)
del x[3]
del x # rimozione lista
x.clear() # svuota la lista, non la elimina!
print(x)

```

In [135]:
# LIST comprehension
s = [ val for val in x if val != "bicher"]
print(s)

['milano', 'roma', 'napoli', 'venezia', 'gambara', 'esine', 'leno']

## Approfondiamo le **TUPLE**

In [136]:
mia_tupla = ("milano", "roma", "napoli")
# la tupla con 1 solo valore
tupla_singola = ("bicher",)
finta_tupla = ("parole")
tupla_espressa = (("uno", "due", "tre"))

print(type(tupla_singola))
print(type(finta_tupla))
print(type(tupla_espressa))

<class 'tuple'>
<class 'str'>
<class 'tuple'>

In [137]:
# Escamotage per modificare contenuto tupla
y = list(x)
y[0] = "Valle"
x = tuple(y)
print(x)

('Valle', 'roma', 'bicher', 'napoli', 'venezia', 'gambara', 'esine', 'leno')

In [140]:
# del x rimuove la tupla
(a, b, *c) = x
print(a)
print(b)
print(c)
print(type(a))
print(type(c))

Valle
roma
['bicher', 'napoli', 'venezia', 'gambara', 'esine', 'leno']
<class 'str'>
<class 'list'>

In [146]:
tupla1 = ("uno", "due", "tre")
tupla2 = ("andrea", "mario", "franco")
tupla3 = tupla1 + tupla2
tupla4 = tupla1 * 2

print(tupla3)
print(tupla4)

('uno', 'due', 'tre', 'andrea', 'mario', 'franco')
('uno', 'due', 'tre', 'uno', 'due', 'tre')

## Approfondiamo i **SET**

In [154]:
x = {"milano", "roma", "napoli"}
y = {"milano", 34, True}
z = set(("uno", "due", "tre")) # il costruttore di set

print(x)

for val in tupla3:
    print(val)

print("milano" in x)

k = x.update(y)
    
x.add("valle camonica")
print(x)
print(k)

{'roma', 'milano', 'napoli'}
uno
due
tre
andrea
mario
franco
True
{True, 34, 'roma', 'valle camonica', 'napoli', 'milano'}
None

In [155]:
x.remove("milano") # genera errore nel caso l'elemento non sia presente
x.discard("roma") # non genera errore nel caso l'elemento non sia presente
x.pop() # rimuove l'ultimo elemento dal set
x.clear() # rimuove tutti gli elementi dal set
# del x elimina il set

In [5]:
x = {1, 2, 3, 10, 20, 30}
y = {10, 20, 30}
z = x.union(y) # unione di x e y creando un nuovo set
x.update(y) # aggiorna x con y
k = x.intersection(y)
k1 = x.symmetric_difference(y)
print("sono il set x dopo update, no duplicati",x)
print("sono il set z union tra x e y",z)
print("sono il set k intersection con y",k)
print("sono il set k1 symmetric difference con y",k1)
# intersection diverso da intersection_update che aggiorna x con y ma non crea un nuovo set
# simmetric diverso da simmetric_difference_update che aggiorna x con y ma non crea un nuovo set

sono il set x dopo update, no duplicati {1, 2, 3, 10, 20, 30}
sono il set z union tra x e y {1, 2, 3, 10, 20, 30}
sono il set k intersection con y {10, 20, 30}
sono il set k1 symmetric difference con y {1, 2, 3}