In [2]:
import _sqlite3

In [11]:
con = _sqlite3.connect("./example.sqlite3")
cur = con.cursor()

In [12]:
cur.execute('''CREATE TABLE IF NOT EXISTS tshirts
                    (sku text PRIMARY KEY, name text, size text, price real)''')

In [13]:
cur.execute('''INSERT INTO tshirts VALUES
                ("SKU1234", "Black Logo Tshirt", "Medium", "25.00")''')

In [14]:
cur.execute('''INSERT INTO tshirts VALUES
                ("SKU5555", "White Logo Tshirt", "Large", "125.00")''')

In [15]:
cur.execute('''INSERT INTO tshirts VALUES
                ("SKU5555", "White Logo Tshirt", "Large", "125.00")''')

IntegrityError: UNIQUE constraint failed: tshirts.sku

In [16]:
cur.execute('''INSERT INTO tshirts VALUES
                ("SKU5534", "White Logo Tshirt", "Large", "125.00")''')

In [17]:
con.commit()

In [18]:
for row in cur.execute("SELECT * FROM tshirts"):
    print(row)

('SKU1234', 'Black Logo Tshirt', 'Medium', 25.0)
('SKU5555', 'White Logo Tshirt', 'Large', 125.0)
('SKU5534', 'White Logo Tshirt', 'Large', 125.0)